#about {
     padding: 64px 1rem;
}

#about img {
    max-width: 400px;
}

#about .title, #about .mainDescription {
    text-align: center;
}

#about .title {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
}

#about .mainDescription {
    width: 70%;
    margin: 0 auto 4rem auto;
    line-height: 1.1;
}

#about .subTitle{
    overflow: auto;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 0 2rem;
    font-weight: bold;
    font-size: 1.25rem;
}

#about .subTitle.second {
    text-align: right;
}

#about .desc {
    overflow: auto;
    width: 70%;
    margin: 0 auto;
    text-align: justify;
    line-height: 1.4;
}

#about .desc.first {
    margin-bottom: 3rem;
}

#about .desc.first img {
    max-width: 400px;
    float: left;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

#about .desc.second img {
    float: right;
    padding-left: 2rem;
    padding-bottom: 2rem;
}