html {
    font-family: Helvetica, sans-serif;
}

body {
    margin: 50px;
}

header h1 {
    display: inline-block;
}

header nav{
    display: inline-block;
    margin-left: 80px;
}

ul li {
    display: inline-block;
    padding-right: 30px;
}

a {
    text-decoration: none;
    color: green;
}
