body {
    margin: 50px;
    font-family: Helvetica, sans-serif;
}

header h1 {
    display: inline-block;
}

header nav {
    display: inline-block;
    margin-left: 80px;
}

nav a {
    padding-left: 15px;
}

a {
    text-decoration: none;
    color: green;
}
